.movie {
  background-color: white;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 10px;
  border-radius: 10px;
  color: #adaeb9;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 5px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.moviePoster {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 0px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movieTitle {
  margin: 0;
  font-weight: 900;
  /* text-decoration: none;  */
}

.movieTitle a {
  margin-bottom: 5px;
  /* font-size: 24px; */
  /* color: #2c2c2c; */
  text-decoration: none;
}
.movieYear {
  font-weight: 300;
  margin-right: 10px;
}

.movieSummary {
  font-size: 18px;
  font-weight: 400;
}

.movieGenres {
  color: #666;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.movieGenres li {
  margin-bottom: 4px;
  border-radius: 99px;
  background-color: none;
  border: 0.0625rem solid #666;
  transition: all 0.1s ease-in;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0.25rem 0.625rem;
  justify-content: left;
  width: -webkit-fit-content;
}
